

:root
   {
    --black: #333;
    --light-color: #cdaa7c;
    --box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1) ;
   }   
/* navbar Start*/
   body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
/* navbar Finish*/
.h1{
   
}





